@import './base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;

  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

/* Default tags */

th,
td {
  text-align: center !important;
}

a {
  color: rgb(var(--v-theme-primary-variant));
}

p {
  padding: 3px 0px;
}

li {
  margin-left: 25px;
}

/* Vuetify overrides */

.v-dialog > .v-overlay__content {
  max-height: calc(100% - 140px) !important;
  max-width: calc(100% - 10px) !important;
}

.v-text-field > .v-input__details,
.v-checkbox > .v-input__details {
  display: none;
}
