# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/filipssi/api.gimvicurnik.filips.si"
PassengerBaseURI "/"
PassengerPython "/home/filipssi/virtualenv/api.gimvicurnik.filips.si/3.8/bin/python"
PassengerAppLogFile "/home/filipssi/api.gimvicurnik.filips.si/logs/passengar.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\. [OR]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$
RewriteRule ^ https://%1%{REQUEST_URI} [NE,L,R]
