# Filip Štamcar
Filip Štamcar <filip.stamcar@hotmail.com>

# Jakob Kralj
Jakob Kralj <jakob.kralj04@gmail.com>
Jakob Kralj <jakob.kralj04@gmail.com> <jakob@pop-os.localdomain>

# Peter Jereb
Peter Jereb <peterjereb3@gmail.com>
Peter Jereb <peterjereb3@gmail.com> <79419198+PetJer@users.noreply.github.com>
