sources:
  timetable:
    url: https://projekti.gimvic.org/urnik/data.js
  eclassroom:
    token: YOUR-TOKEN-HERE
    webserviceUrl: https://ucilnica.gimvic.org/webservice/rest/server.php
    pluginFileWebserviceUrl: https://ucilnica.gimvic.org/webservice/pluginfile.php
    pluginFileNormalUrl: https://ucilnica.gimvic.org/pluginfile.php
    course: 118
  menu:
    url: https://www.gimvic.org/delovanjesole/solske_sluzbe_in_solski_organi/solska_prehrana/
  solsis:
    url: https://solsis.gimvic.org/
    serverName: solsis.gimvic.org
    apiKey: API-KEY

urls:
  website: https://urnik.gimvic.org
  api: https://urnik.gimvic.org/api

database: sqlite:///app.db

sentry:
  dsn: YOUR-DSN-HERE
  enabled: true
  collectIPs: false
  maxBreadcrumbs: 100
  tracesSampleRate:
    commands: 1.0
    requests: 1.0
    other: 1.0
  profilerSampleRate:
      commands: false
      requests: false
      other: false

logging:
  version: 1
  formatters:
    default:
      format: "[%(asctime)s] %(levelname)s: %(message)s"
  handlers:
    console:
      class: logging.StreamHandler
      stream: ext://sys.stderr
      formatter: default
  loggers:
    gimvicurnik:
      level: INFO
      handlers:
        - console

lessonTimes:
  - name: "Predura"
    start: "0710"
    end: "0755"
  - name: "1. ura"
    start: "0800"
    end: "0845"
  - name: "2. ura"
    start: "0850"
    end: "0935"
  - name: "3. ura"
    start: "0940"
    end: "1025"
  - name: "4. ura"
    start: "1055"
    end: "1140"
  - name: "5. ura"
    start: "1145"
    end: "1230"
  - name: "6. ura"
    start: "1235"
    end: "1320"
  - name: "7. ura"
    start: "1325"
    end: "1410"
  - name: "8. ura"
    start: "1415"
    end: "1500"
  - name: "9. ura"
    start: "1505"
    end: "1550"
  - name: "10. ura"
    start: "1555"
    end: "1640"
